/* styles/Header.module.css */

.container {
    background-color: #1e90ff; 
    text-align: center;
    padding: 3em;
}

.navList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navItem {
    display: inline-block;
    margin: 0 10px;
    font-size: 18px;
    font-family: 'Arial', sans-serif;
    color: #000;
}

.navLink {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.navLink:hover {
    color: #fff; 
}

.separator {
    font-size: 24px;
}

.userEmail {
    margin-right: 8px; 
    font-size: 16px; 
    color: #fff; 
}

.userAvatar {
    width: 30px;
    height: 30px;
    border-radius: 50%; 
    object-fit: cover; 
}
