/* styles/Header.module.css */

.container {
    background-color: #1e90ff; 
    text-align: center;
    padding: 1.5em 0; /* Menor padding para uma melhor aparência */
    position: relative; /* Para o posicionamento do carrinho */
}

.navList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha em telas pequenas */
}

.navItem {
    display: inline-block;
    margin: 0 15px; /* Aumentado para dar mais espaço entre os itens */
    font-size: 18px;
    font-family: 'Arial', sans-serif;
    color: #000;
}

.navLink {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    transition: color 0.3s; /* Suave transição para hover */
}

.navLink:hover {
    color: #fff; 
}

.separator {
    font-size: 24px;
    color: #000; /* Cor da separação */
}

.userEmail {
    margin-right: 8px; 
    font-size: 16px; 
    color: #fff; 
}

.userAvatar {
    width: 40px; /* Aumentado para melhor visualização */
    height: 40px;
    border-radius: 50%; 
    object-fit: cover; 
}

.logoutButton {
    background-color: transparent; /* Botão transparente */
    border: none; /* Remove a borda */
    color: #fff; /* Cor do texto */
    cursor: pointer; /* Muda o cursor ao passar sobre o botão */
    font-size: 16px; /* Tamanho da fonte */
}

.cartButton {
    background-color: transparent; /* Botão transparente */
    border: none; /* Remove a borda */
    cursor: pointer; /* Muda o cursor ao passar sobre o botão */
    font-size: 24px; /* Tamanho do ícone do carrinho */
    color: #fff; /* Cor do ícone */
}
